pkgbase = dolphin-megasync-bin
	pkgdesc = Extension for KDE based file managers to interact with Megasync
	pkgver = 3.6.6
	pkgrel = 2
	url = http://mega.nz
	arch = x86_64
	license = custom
	depends = megasync>=3.5
	depends = dolphin
	provides = dolphin-megasync
	conflicts = dolphin-megasync
	conflicts = dolphin-megasync-git
	source = http://mega.nz/linux/MEGAsync/Arch_Extra/x86_64/dolphin-megasync-3.6.6-2-x86_64.pkg.tar.xz
	sha512sums = beacd8d79481ade9dffd51a72d63589249f6ae530bf76576f7e477ffca1fef092b45fd238f3963b0f4dc6e645327507165459b8fa925be519f4879b4df884c1e

pkgname = dolphin-megasync-bin
